/* general styles */

*{
        padding: 0;
        margin: 0;
        font-family: $robotoFont;
        box-sizing: border-box;
      }
      
      .padding-10vw{
        padding-right:10vw;
        padding-left: 10vw;
      }