/* header styles */

header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 165px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.header-cart-container {
    width: 150px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 10px;

    p {
        color: $darkGrey;
    }
}

.cart-icon {
    width: 40px;
}
