/* product styles */

.product {
    margin-right: 2rem;
    width: calc( (100% - 6rem) / 4);
    

    &:last-child {
        margin-right: 0;
    }

    p {
        margin: 1rem 0 0.5rem;
        font-size: 14px;
        color: rgb(20, 19, 20);
    }

    span {
        color: $darkGrey;
        font-size: 16px;
        text-decoration: line-through;
    }

    :hover .product-buttons {
        opacity: 1;
        transition: opacity ease-in 0.5s;
    }
}

.pic-valoration {
    position: relative;
    background-color: white;
    padding: 2rem 1rem 0.5rem 1rem;

    & > img {
        height: 145px;
        object-fit: contain;
        width: 100%;
        padding: 0 1rem;
    }
}

.valoration-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.star-container img {
    width: 13px;
}

.discount {
    background-color: black;
    color: white;
    padding: 3px 6px;
    font-size: 11px;
    border-radius: 15px;
    letter-spacing: 1.5px;
}

.product-buttons {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

    div {
        margin-left: 0.5rem;
        background-color: rgb(246, 243, 243);
        padding: 0.75rem;
        border-radius: 8px;
    }

    img {
        width: 24px;
    }
}
