
$lightGrey: rgb(219, 215, 215); 
$darkGrey: rgb(158, 145, 145); 
$disabledBotton:#7b7b7b;
$activeButton:#333333;
$robotoFont:'Roboto', sans-serif;
$gradientGreyBg:linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);