
:root {
  --color-grey:rgb(158, 145, 145);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* general styles */

*{
  padding: 0;
  margin: 0;
  font-family:'Roboto', sans-serif;
  box-sizing: border-box;
}

.padding-10vw{
  padding-right:10vw;
  padding-left: 10vw;
}

/* header styles */

header{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 165px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.cart-container {
  width: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 10px;
}

.cart-icon{
  width: 40px;
}

.cart-container p{
  color: var(--color-grey)
 
}


/* Showcase styles */

.showcase-container{
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
 background-blend-mode: screen;
  padding: 2rem 0;
  min-height: calc(100vh - 165px);

}

.showcase-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
  
  
}

.breadcrumbs-list{
  display: flex;
  
}

.breadcrumbs-list li{
  list-style: none;
  padding-left: 1rem;

}

.active-list{
  color: var(--color-grey)
}

.showcase-carroussel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc( 10vw - 25px - 2rem);
  flex-grow: 1;
}

.carroussel-controler{
  min-width: 25px;
  height: 25px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-container{
  margin: 0 2rem;
  display: flex;
  flex-grow: 1;
}

/* product styles */

.product {
  margin-right: 2rem;
}

.product:last-child {
  margin-right: 0;
}

.pic-valoration{
  position:relative;
  background-color: white;
  padding: 2rem 1rem 0.5rem 1rem;
}

.valoration-container{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

}

.pic-valoration > img {
  width: 100%;
  padding: 0 1rem;
}

.star-container img{
  width: 13px;
}

.discount{
  background-color: black;
  color: white;
  padding: 3px 6px;
  font-size: 11px;
  border-radius: 15px;
  letter-spacing: 1.5px;
}

.product p{
  margin: 1rem 0 0.5rem;
  font-size: 14px;
  color: rgb(20, 19, 20);
}

.product span{
  color: var(--color-grey); 
  font-size: 16px;
  text-decoration: line-through;
  
}

.product-buttons{
  display: flex;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
}

.product-buttons div{
  margin-left: 0.5rem;
  background-color: rgb(246, 243, 243);
  padding:0.75rem;
  border-radius: 8px;
}

.product-buttons img{
  width: 24px;
}

.product:hover .product-buttons{
  opacity: 1;
  transition: opacity ease-in 0.5s;
}

