/* general styles */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.padding-10vw{
  padding-right:10vw;
  padding-left: 10vw;
}

/* header styles */

header{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 165px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.cart-container {
  width: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 10px;
}

.cart-icon{
  width: 40px;
}

.cart-container p{
  color: rgb(200, 190, 190);
 
}




